.coursesTable {
  width: 100%;

  tr {
    &:nth-child(even) {
      color: transparent;
    }
  }

  td {
    padding: 0.6em 0.5em;
    border: 1px solid gray;
  }

  thead {
    tr {
      td:first-of-type {
        width: 20%;
      }
    }
  }
}
