@import "styles/colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6em 0;
  // background-image: linear-gradient(
  //     rgba($brand-yellow, 0.9),
  //     rgba($brand-yellow, 0.9)
  //   ),
  //   url("../../assets/images/ales-landing-background.jpg");
  // background-size: cover;
  // background-position: center;
  // position: relative;
  // background-repeat: no-repeat;

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em 1em;
    width: 90%;
    border-radius: 8px;
    background: rgba($gray-lighter, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

    .formContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2em;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: 3em;
      }

      .formGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        label {
          margin: 1em 1em;

          input {
            margin: 0 0.5em;
          }
        }
        input {
          margin: 1em 0;
        }
      }

      button {
        margin: 2em 0;
        padding: 0.5em 4em;
        font-weight: 500;
      }

      a {
        text-decoration: none;
        font-size: 1.3em;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 10em 0;

    .cardContainer {
      width: 30%;

      .formContainer {
        width: 80%;
      }
    }
  }
}
