@import "styles/colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $gray-dark;
  margin: 12em 0;
  padding: 0 2em;

  .titleContainer {
    margin-bottom: 1em;
  }

  button {
    color: $white;
    font-weight: 600;
    margin-top: 1.5em;
  }
}
