@import "styles/colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12em 0;
  padding: 0 2em;
  text-align: center;
  color: $gray-dark;

  .formGroup {
    margin: 1.5em 0;
  }

  button {
    margin-top: 1em;
    color: $white;
    font-weight: 600;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 10em 0;
  }
}
