.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
}

@media only screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
