/* Brand Colors */
$brand-blue: #1089ff;
$brand-yellow: #f2c94c;

/* Brand Variations */

/* Neutral Colors */
$white: #fff;
$gray-lighter: #eee;
$gray-light: #ddd;
$gray: #aaa;
$gray-dark: #777;
$gray-darker: #333;
$black: #000;

/* Other colors */
$green: #2dce89;
$red: #fb6340;
$purple: #bb6bd9;
$orange: #f2994a;
