@import "../../styles/colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 1em;
  width: 90%;
  border-radius: 8px;
  background: rgba($gray-lighter, 0.8);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

  .formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    justify-content: center;
    align-items: center;

    img {
      margin-bottom: 3em;
    }

    .formGroup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      label {
        margin: 1em 1em;

        input {
          margin: 0 0.5em;
        }
      }
      input {
        margin: 1em 0;
      }
    }

    button {
      margin: 2em 0;
      padding: 0.5em 2em;
    }

    a {
      text-decoration: none;
      font-size: 1.3em;
    }
  }
}

@media only screen and (min-width: 900px) {
  .container {
    width: 30%;

    .formContainer {
      width: 80%;
    }
  }
}
