@import "styles/colors.module.scss";

.container {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titleContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    margin-bottom: 2em;
    color: $gray-darker;
  }
}
