.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .navLink {
    margin: 0.8em 0;
    font-size: 1.2em;
  }

  .buttonsContainer {
    right: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;

    a {
      margin: 0.5em 0;
      text-align: center;
      width: 100%;
      button {
        font-weight: 500;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .navContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .navLink {
      margin: 0.5em 2em;
    }

    .buttonsContainer {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 30%;

      a {
        width: auto;
        padding: 0 0;
      }
    }
  }
}
