nav {
  .navLink {
    margin: 0 2em;
    font-size: 1.2em;
  }

  .buttonsContainer {
    position: absolute;
    right: 5em;
    display: flex;

    button {
      margin: 0 1em;
    }
  }
}

@media only screen and (max-width: 900px) {
  nav {
    .navContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .navLink {
        margin: 0.5em;
      }

      .buttonsContainer {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;

        a {
          width: 100%;
          text-align: center;
          button {
            width: 100%;
          }
        }

        button {
          width: 100%;
          margin: 0.5em 0;
        }

        & button:last-child {
          width: 60%;
        }
      }
    }
  }
}
