@import "styles/colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  padding: 0 2em;
  color: $gray-dark;

  .cardTitle,
  .cardDescription {
    text-align: center;
    margin: 1em 0;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .formGroup {
      margin: 2em 0;
      width: 100%;
    }

    button {
      color: $white;
      font-weight: 600;
      margin-top: 1em;
    }
  }
}

@media only screen and (min-width: 900px) {
  .container {
    width: 25%;
  }
}
