@import "../../../../styles/colors.module.scss";

.section {
  margin: 0;
  height: 95em;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $gray-lighter;
  font-size: 1.2em;

  .sectionTitle {
    h3 {
      margin: 1em 0 1em 0;
      font-weight: 400;
    }
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em 0;
    padding: 0 6em;

    iframe {
      width: 80%;
      height: 30em;
      margin: 2em 0 5em 0;
    }

    .subSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .section {
    margin: 0;
    padding: 1em;
    height: 66em;
    color: $gray-darker;
    font-weight: 400;

    .sectionContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1em 0;
      padding: 0;

      iframe {
        width: 100%;
        height: 15em;
        margin: 1em 0 2em 0;
      }

      .subSection {
        width: 100%;
        margin: 1.6em 0;
        padding: 0 0.8em;
      }
    }
  }
}
