@import "../../../../styles/colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 3em 0;
  width: 100%;

  .titleContainer {
    margin: 4em 0 1em 0;
    text-align: center;
    padding: 0 2em;

    h3 {
      color: $gray-darker;
      font-weight: 400;
    }
  }
}
