@import "styles/colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1em;
  padding: 1em;
  border: 1px solid $gray-light;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

  .titleContainer {
    h6 {
      color: $gray-darker;
      font-weight: 600;
    }
    p {
      color: $gray;
      font-weight: 500;
    }
  }

  .description {
    p {
      color: $gray-dark;
      font-weight: 500;
    }
  }

  .toggleContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0.5em 0;

    p {
      color: $gray-dark;
      font-weight: 500;
      margin: 0 1em;
    }
  }

  .nextClass {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      color: $gray;
      font-weight: 500;
    }
  }
}

@media only screen and (min-width: 900px) {
  .container {
    width: 25%;
  }
}
